QuickCocos2dx
Download/hotupdate_android/gamecfg/
Download/hotupdate_android/lib/
Download/hotupdate_android/res/
Download/hotupdate_ios/gamecfg/
Download/hotupdate_ios/lib/
Download/hotupdate_ios/res/
EncrypTools/.vscode/

